<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!-- Related to the connection START -->
		<property name="connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
		<property name="connection.url">jdbc:oracle:thin:@localhost:1521:orcl</property>
		<property name="connection.user">system</property>
		<property name="connection.password">Oracle@1</property>
		<!-- Related to the connection END -->
		 
		<property name="show_sql">true</property>
		<property name="dialet">org.hibernate.dialect.OracleDialect</property>	
		<mapping resource="com/sankar/hibernate/mapping/Account.hbm.xml"/> 
	</session-factory>
</hibernate-configuration>